<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.game.tictactoe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".menu.OptionenActivity"
            android:exported="false" />
        <activity
            android:name=".dialogs.InvitationOnlineGameDialog"
            android:exported="false" />
        <activity
            android:name=".menu.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".menu.OnlinespielActivity"
            android:exported="false" />
        <activity
            android:name=".menu.RulesActivity"
            android:exported="true" />
        <activity
            android:name=".menu.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".menu.options.IconwahlActivity"
            android:exported="true" />
        <activity
            android:name=".menu.options.StatistikenActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".GameSingleActivity" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".MenuActivity" -->
        <!-- android:exported="true" /> &lt;!&ndash; android:theme="@style/Theme.QuizApp"> &ndash;&gt; -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.GameSingleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>